*{
	margin: 0;
	padding: 0;

}

body{
  overflow-x: hidden;
  overflow-y: scroll;
}

/*--------------------- Text vlak ---------------------*/
.textvlak{
padding-left: 5%;
padding-right: 5%;
}

/*--------------------- foto's ---------------------*/
.fotoright{
  width: 97%;
  height: auto;
  padding-left: 11%;
  padding-top: 7%;
}
.fotoleft{
  width: 97%;
  height: auto;
  margin-left: -7%;
  padding-top: 7%;
}

/*-------------------------------- Navbar -------------------------------*/

nav /*boven*/
{
	background: darkslategray;
	opacity: 1;
  position: sticky;
  list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	z-index: 50;
}

nav ul /* navagatie bar */
{
    background: linear-gradient(90deg,
     rgba(33, 91, 155, 0.6) 0%,
     rgba(33, 91, 155, 0.6) 25%,
     rgba(33, 91, 155, 0.6) 75%,
     rgba(33, 91, 155, 0.6) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
     inset 0 0 1px rgba(255, 255, 255, 0.6);
     width: 100vw;


}

nav ul li
{
    display: inline-block;
}

nav ul li a /* Tekst navagatie bar */
{
    padding: 10px;
    color: white;
    font-size: 18px;
    font-family: arial, helvetica, sans-serif;
    text-decoration: none;
    display: block;
 }

 nav ul li a:hover {
	background-color: #363435;
}

/*-------------------------------- Skils blok -------------------------------*/
.skillstitle{
	text-align:center;
}

.skillsblok2{
	background-color: darkslategray;
	margin-left:3%;
	margin-right:5%;
	padding-bottom:10px;
	margin-top: 10px;
	min-height:92vh
}

.skillsblok1{
	margin: 3%;
	margin-right: 50%;
}

.container1 {
	width: 80%;
	background-color: #ddd;
}

.skillsblok {
	text-align: right;
	padding-right: 20px;
	line-height: 40px;
	color: white;

}

.html {
	width: 90%;
	background-color: #b70909;
	}

.css {
	width: 70%;
	background-color: #0d3cd8;
	}

.javascript {
	width: 20%;
	background-color: #08d319;
	}

.php
{
	width: 10%;
	background-color: #cc990e;
	}

.mysql{
	width: 10%;
	background-color: #cccc33;
}

/*--^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ Desktop versie ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^--*/
@media only screen and (min-width: 768px) {

.grid {
	display: grid;
	grid-template-columns: 50vw 50vw;
	grid-template-rows: 100vh 100vh 100vh 100vh 100vh;
	grid-template-areas:
	"home home"
	"section1 section2"
	"section3 section4"
	"section5 section6"
	"section7 section8";
  /* grid-gap: 10px; */

}
/*--------------------- Desktop Home ---------------------*/
.home{
  grid-area: home;
  background-image: url("web_images/Homeachtergrond.JPG");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

/*--------------------- Desktop Section1 ---------------------*/
.section1{
  grid-area: section1;
  background: #363435; /*gray*/
  color:white;
}

/*--------------------- Desktop Section2 ---------------------*/
.section2{
  grid-area: section2;
  background: #f2f7ed; /*white*/

}

/*--------------------- Desktop Section3 ---------------------*/
.section3{
  grid-area: section3;
  background: #f2f7ed; /*white*/
}

/*--------------------- Desktop Section4 ---------------------*/
.section4{
  grid-area: section4;
  background: #363435; /*gray*/
  color:white;
}

/*--------------------- Desktop Section5 ---------------------*/
.section5{
  grid-area: section5;
  background:#363435; /*gray*/
  color:white;
}

/*--------------------- Desktop Section6 ---------------------*/
.section6{
  grid-area: section6;
  background: #f2f7ed; /*white*/
}

/*--------------------- Desktop Section7 ---------------------*/
.section7{
  grid-area: section7;
  background: #f2f7ed; /*white*/
}

/*--------------------- Desktop Section8 ---------------------*/
.section8{
  grid-area: section8;
  background: #363435; /*gray*/
  color:white;
}





}/*media Query Desktop*/



/*--^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ Mobiel versie ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^--*/
@media only screen and (max-width: 768px) {
  .grid {
  	display: grid;
  	grid-template-columns: 100vw;
  	grid-template-rows: 100vh 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  	grid-template-areas:
		"home"
  	"section1"
    "section2"
  	"section4"
    "section3"
  	"section5"
    "section6"
  	"section8"
    "section7";
    /* grid-gap: 10px; */

  }
	/*--------------------- Mobiel Home ---------------------*/
	.home{
	  grid-area: home;
	  background-image: url("web_images/Homeachtergrond.JPG");
	  background-attachment: fixed;
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;
	}
  /*--------------------- Mobiel Section1 ---------------------*/
  .section1{
    grid-area: section1;
    background: #363435; /*gray*/
		color:white;
  }

  /*--------------------- Mobiel Section2 ---------------------*/
  .section2{
    grid-area: section2;
    background: #f2f7ed; /*white*/
  }

  /*--------------------- Mobiel Section3 ---------------------*/
  .section3{
    grid-area: section3;
    background: #f2f7ed; /*white*/
  }

  /*--------------------- Mobiel Section4 ---------------------*/
  .section4{
    grid-area: section4;
  	background: #363435; /*gray*/
	  color:white;
  }

  /*--------------------- Mobiel Section5 ---------------------*/
  .section5{
    grid-area: section5;
    background: #363435; /*gray*/
	  color:white;
  }

  /*--------------------- Mobiel Section6 ---------------------*/
  .section6{
    grid-area: section6;
    background: #f2f7ed; /*white*/
  }

  /*--------------------- Mobiel Section7 ---------------------*/
  .section7{
    grid-area: section7;
    background: #f2f7ed; /*white*/
  }

  /*--------------------- Mobiel Section8 ---------------------*/
  .section8{
    grid-area: section8;
    background: #363435; /*gray*/
	  color:white;
  }

}/*Media Query Mobiel*/
